{% extends "base.html" %}
{% import '_wtf.html' as wtf %}

{% block head %}
  <meta property="og:title" content="HOTSWORDS" />
  <meta property="og:description" content="Lava Rock Kebabs" />
  <meta property="og:image" content="{{ url_for('static', filename='img/og-image.jpg') }}" />
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/glider.min.css') }}">
  <link href="{{ url_for('static', filename="css/all.css" )}}" rel="stylesheet">
  <script defer src="{{ url_for('static', filename="js/all.js") }}"></script>

  {{ super() }}

  <!-- Chow Now slideout script -->
  <script src='https://cf.chownowcdn.com/latest/static/integrations/ordering-modal.min.js' data-chownow-company-id='30097'></script>
{% endblock head %}

{% block navbar %}{% endblock navbar %}

{% block content %}
  <div id="start-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="container-fluid">
          <div class="row">
            <div class="modal-header mt-2">
              <h1 class="modal-title"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <p>Dear HOTSWORDS family,</p>
              <p>
                First of all, I want to say thank you so much to all of you for
                the positivity and loyal support you’ve shown us over the past months.
                It has been a great motivation to me personally to hear how much
                you’ve enjoyed our food and service. It is with a heavy heart that
                we have decided to shift our restaurant to catering only. The reasons
                behind this decision are complicated, but I do hope and trust that
                HOTSWORDS will be able to fully open again one day in the future.
              </p>
              <p>
                I also want to give a big thank you to my team, who have shown
                so much dedication to their work and without whom HOTSWORDS would
                never have been possible. I am very happy to share that we have
                all decided to stay together as we transition to the next phase.
              </p>
              <p>
                Please do not hesitate to reach out to me through the contact form
                at the bottom of this page for catering requests or anything else.
                It is a pleasure and honor to serve you!
              </p>
              <p>
                Blessings,<br/>
                Mo Alkhdour, Owner and Head Chef
              </p>
              <button class="btn" class="btn-close" data-bs-dismiss="modal">
                Continue to order catering
              </button>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="home" class="home-section inverse text-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="row justify-content-center alert {{ category }}">
            <div class="col-sm-11 col-md-10 col-lg-9">
              <div role="alert">{{ message }}</div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <nav class="row justify-content-center">
      <div class="col col-md-10">
        <div class="row justify-content-center justify-content-md-end">
          <div class="home-nav col col-md-7 col-lg-6 col-xl-5">
            <div><a href="#appetizers" data-text="menu">menu</a></div>
            <div><a href="#" data-bs-toggle="modal" data-bs-target="#order-modal" data-text="order">order</a></div>
            <div><a href="#contact" data-text="contact">contact</a></div>
          </div>
        </div>
      </div>
    </nav>

    <div class="row justify-content-center">
      <div class="col-11">
        <img id="home-logo" class="img-fluid"
          src="{{ url_for('static', filename='img/logo.svg') }}" alt="HOTSWORDS">
      </div>
    </div>
    <div class="home-next row">
      <a href="#appetizers">
        <h2>
          LET'S EAT
        </h2>
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
            bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
    </div>
  </div>

  <div id="order-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="container-fluid">
          <div class="row">
            <div class="modal-header mt-2">
              <h1 class="modal-title">Order catering</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              Please send us a message with details of your order, and we will be in touch.
            </div>
            <div class="mt-1">
              <a href="#contact">
                <button class="btn me-1 my-1" data-bs-toggle="modal" data-bs-dismiss="modal">
                  Contact us
                </button>
              </a>
              <!--<a class="chownow-order-online btn sec my-1" href="https://ordering.chownow.com/order/30097/locations" target="_blank">
                Order now
              </a>
              <div class="ms-1 my-2">
                <a href="https://www.ezcater.com/catering/pvt/hotswords-3">
                  Order catering
                </a>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="app-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="container-fluid">
          <div class="row">
            <div class="modal-header mt-3">
              <h1 class="modal-title">Select your download</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
          </div>
          <div class="modal-body">
            <div class="row g-0">
              <div class="col-6">
                <a href="https://apps.apple.com/us/app/id1580020874" class="m-1" target="_blank">
                  <img class="app-download-btn" src="{{ url_for('static', filename='img/ios-download.svg') }}"
                    alt="Download for iOS">
                </a>
              </div>
              <div class="col-6 text-center">
                <div class="ms-3 mt-1">Android app coming soon</div>
              </div>
                <!--<a href="#" class="m-1" target="_blank">
                  <img class="app-download-btn" src="{{ url_for('static', filename='img/android-download.svg') }}"
                    alt="Download for Android">
                </a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "_menu-content.html" %}
  <div class="sticky-header row justify-content-center">
    <div class="d-none d-md-flex col-md-2 p-2">
      <img id="hs-icon" class="img-fluid"
        src="{{ url_for('static', filename='img/icon.svg') }}" >
    </div>
    <div id="food-header" class="col-9 col-md-7">
      {% for c in categories[:-1] %}
        <div class="header-item">
          <a href="#{{ c[0].replace(' ','-') }}" data-text="{{ c[0].replace(' ','-') }}">
            {{ c[0] }}
          </a>
        </div>&bull;
      {% endfor %}

      <!-- remove bullet separator after last category -->
      <div class="header-item">
        <a href="#{{ categories[-1][0].replace(' ','-') }}" data-text="{{ categories[-1][0].replace(' ','-') }}">
          {{ categories[-1][0] }}
        </a>
      </div>
    </div>

    <div class="d-flex col-3 col-md-2">
      <a class="btn clr sm m-auto" href="#" data-bs-toggle="modal" data-bs-target="#order-modal" data-text="order">ORDER</a>
    </div>
  </div>

  <div id="food" class="home-section">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10">

        {% for c in categories %}
          <h1 id="{{ c[0].replace(' ','-') }}" class="category-title">{{ c[0] }}</h1>

          <div class="row justify-content-center">
            <div class="col-md-6">
              {% for i in items %}
                {% if i.category == c[0] %}
                  <div class="row mb-2">
                    <div class="food-name col-9">
                      {{ i.name }}

                      {% if i.veg==1 %}
                        <img class="veg-icon" src="{{ url_for('static', filename='img/veg.svg') }}" />
                      {% endif %}
                    </div>
                    <div class="food-price col-3 text-end">
                      ${{ i.price }}
                    </div>
                    <div class="food-info col">
                      {{ i.description }}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>

            <div class="col-11 col-md-5 offset-md-1">
              <div class="glider-contain">
                <div class="glider">
                  {% set count = namespace(value=0) %}
                  {% for i in items %}
                      {% if i.category == c[0] and i.name.replace(' ','-') + '.jpg' in images %}
                        {% set count.value = count.value + 1 %}
                        <div>
                          <img src="{{ url_for('static', filename='img/' + i.name.replace(' ','-') + '.jpg') }}">
                          <p class="img-caption my-2">{{ i.name }}</p>
                        </div>
                      {% endif %}
                  {% endfor %}
                </div>

                {% if count.value > 1 %}
                  <div aria-label="Previous" class="glider-prev">
                    <i class="arrow fas fa-chevron-circle-left"></i>
                  </div>
                  <div aria-label="Next" class="glider-next">
                    <i class="arrow fas fa-chevron-circle-right"></i>
                  </div>
                  <div role="tablist" class="dots"></div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}

        <div class="home-next row">
          <a href="#contact" class="mt-4">
            <h2>
              CONTACT
            </h2>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
                bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </div>

  <div id="contact" class="home-section anchor-margin">

    <div class="row mt-3 justify-content-center">
      <div class="col-11 col-md-8">
        <h1 class="page-title">
          <a href="mailto:eat@hotswords.com" target="blank">eat@hotswords.com</a>
        </h1>
        <p class="mt-4">
          <strong class="food-name">Location</strong> <br/>
          5002 Hamilton Rd<br />
          Austin, TX 78759
        </p>
        <!--<p>
          <strong class="food-name">Email</strong><br/>
          <a href="mailto:eat@hotswords.com" target="blank">eat@hotswords.com</a>
        </p>-->
        <p>
          <strong class="food-name">Phone</strong><br/>
          <a href="tel:+1-737-333-8557">
            (737) 333-8557
          </a>
        </p>
        <p>
          <strong class="food-name">Hours</strong><br/>
          Tuesday to Sunday: 10:00am - Midnight <br/>
          Closed Monday<br/>

          <!--Wednesday: 10:00am - Midnight<br/>
          Thursday: 10:00am - Midnight<br/>
          Friday: 10:00am - Midnight<br/>
          Saturday: 10:00am - Midnight<br/>
          Sunday: 10:00am - Midnight-->
        </p>
      </div>
    </div>

    <div class="row mt-4 justify-content-center">
      <div class="col-11 col-md-8">
        <h1 class="page-title">Send us a message</h1>

        <form id="inquiry-form" action="" method="post">
          {{ form.hidden_tag() }}
          <p class="mb-3">{{ form.first_name }}</p>
          <p class="mb-3">{{ form.email }}</p>
          <p class="mb-3">{{ form.phone }}</p>
          <p class="mb-3">{{ form.subject }}</p>
          <p class="mb-3">{{ form.message(rows='4') }}</p>
          {{ hcaptcha }}
          <input type="submit" value="Submit"/>
        </form>
      </div>
    </div>
  </div>

  {% block end_scripts %}
    <script src="{{ url_for('static', filename="js/bootstrap.js") }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/zenscroll-min.js') }}"></script>
    <script type="text/javascript">
      zenscroll.setup(null, -1);
    </script>

    <script src="{{ url_for('static', filename='js/glider.min.js') }}"></script>
    <script type="text/javascript">
      window.addEventListener('load', function(){
        [].forEach.call(document.querySelectorAll('.glider'), function (ele) {
          new Glider(ele, {
            slidesToShow: 1,
            slidesToScroll: 1,
            draggable: true,
            scrollLock: true,
            duration: 3,
            arrows: {
                prev: ele.parentNode.querySelector('.glider-prev'),
                next: ele.parentNode.querySelector('.glider-next')
            }
          });
        });
      });
    </script>

    <script type="text/javascript">
      var myModal = new bootstrap.Modal(document.getElementById('start-modal'));
      window.onload = function() {
        myModal.show();
      };

     function onSubmit(token) {
       document.getElementById("inquiry-form").submit();
     }
   </script>
  {% endblock end_scripts %}
{% endblock content %}
